@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    /* min-width: 383px; */
}


.main_section{
    padding: 0 80px 34px 80px;
    /* background-attachment: fixed; */
    background-size: cover;
    /* background-color: #000000; */
    background-position: center;
    height: auto;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/main_bg.jpg');
}


/* .main_bg{
    width: 100%;
    height: 900px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
} */

nav{
    top: 0;
    position: relative;
    width: 100%;
    left: 0;
    padding: 34px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    /* background-color: blue; */
}

nav::before{
    content: '';
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    z-index: -1;
}

#check{
    position: absolute;
    display: none;

}

.logo a{
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}


.nav_links{
   
    list-style: none;
    margin: 0;
    padding: 0;

}

.nav_links li{
    display:inline-block;
    margin:0 20px;

}

.nav_links li a {
    text-decoration: none;
    color:white;
    font-family: montserrat;
    font-size: 18px;
    font-weight:500;
    border-bottom: 0;   

}

.nav_links li a:hover{
    border-bottom: 4px solid red;
    transition: 0.1s ease;
    border-radius: 4px;
}


.login_btn{
    width: 150px;
    height: 45px;
    border-radius: 40px;
    border:0;
    background-color: #4FFF00;
    font-size: 18px;
    color: #000000;
    font-family: montserrat;
    font-weight: 700;
}

.login_btn:hover{
    -webkit-box-shadow:0px 0px 19px 9px rgba(81,255,0,0.9);
    -moz-box-shadow: 0px 0px 19px 9px rgba(81,255,0,0.9);
    box-shadow: 0px 0px 19px 9px rgba(81,255,0,0.9);
    transition-duration: 0.3s;

}

.icons{
    position: absolute;
    font-size:24px ;
    color: white;
    cursor: pointer;
    display: none;
}


   
.home_header_1{
    color: white;
    font-weight: 700;
    font-size: 72px;
    max-width: 1040px;
    margin-top:155px;
}

.home_header_1 >p{
    margin: 0;
    
}

.home_header_1_yellow{
    color: #4FFF00;
}

.home_header_2{
    margin-top: 34px;
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.home_header_2 >p{
    margin: 0;
}

.start_btn{
    color: #000000;
    font-family: montserrat;
    height: 57px;
    width: 180px;
    border: none;
    border-radius: 40px;
    background-color: #4FFF00;
    font-weight: 700;
    font-size: 18px;
    margin: 60px 0 241px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* -webkit-box-shadow:0px 0px 55px 0px rgba(81,255,0,0.58); */
    /* -moz-box-shadow: 0px 0px 55px 0px rgba(81,255,0,0.58); */
    box-shadow: 0px 0px 55px 0px rgba(81,255,0,0.28);


}

#st_btn{
    font-size: 24px;

}

.start_btn:hover{
    box-shadow: 0px 0px 19px 9px rgba(81,255,0,0.9);
    transition-duration: 0.3s;

}


/* -------------Second Page Styles------------- */



.second_page{
    padding: 0 80px 80px 80px;
    height: auto;
    width: 100%;
    background-image: url(/assets/haikei\ 3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
}


.double_image{
    /* padding-top: 193px; */
    /* background-color: black; */
    flex: 1 0 475px;
    width: 475px;
    height: 600px;

}

.contain{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.first_image{
    position: absolute;
    border-radius: 16px;
    height: 345px;
    width: 345px;
    background-image: url(/assets/man1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 6px 6px 16px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 6px 6px 16px 0px rgba(0,0,0,0.62);
    box-shadow: 6px 6px 16px 0px rgba(0,0,0,0.62);

}

.second_image{
    position: relative;
    border-radius: 16px;
    height: 345px;
    width: 345px;
    background-image: url(/assets/man2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: red;
    transform: translate(172px ,172px);
    -webkit-box-shadow: 6px 6px 16px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 6px 6px 16px 0px rgba(0,0,0,0.62);
    box-shadow: 6px 6px 16px 0px rgba(0,0,0,0.62);
    

}



.second_page_header_1{
    display: grid;
    justify-content: end;
    text-align: center;
    font-size: 72px;
    font-weight: 700 ;
    margin: 0;
    padding-top: 70px;
    /* padding-right: 20px; */
}

.login_form{
    /* min-width: 300px; */
    margin-top: 50px;
    border-radius: 16px;
    height: 563px;
    width: 422px;
    background-color: #fafafa;
    box-shadow: 6px 6px 16px 0px rgba(0,0,0,0.62);
    padding: 42px 57px;
    display: grid;
    justify-content: center;


}

.form_header{
    margin-top: 0;
    text-align: center;
    font-size: 36px;
    font-weight: 700;

}

form > label{
    font-size: 18px;
    font-weight: 500;
}


form > input{
    padding-left: 20px;
    margin:28px 0;
    width: 300px;
    height: 56px;
    border-radius: 16px;
    border: 2px solid white;
    background-color: #d9d9d9;
    outline: none;
    color: #000000;
    font-size: 18px;
    
}

form >input:hover{
    border: 2px solid;
    border-color: #ff4800;
    /* transition-duration: 0.3s; */
    transition: ease 0.5s;

}

form > input::placeholder{
    font-family: montserrat;
    font-size: 14px;
    /* padding: 20px; */


}

.form_footer{
    display: flex;
    justify-content: space-between;
}

.form_footer_text{
    font-size: 16px;
    font-weight: 500;
}

.form_btn{
    width: 300px;
    height: 56px ;
    border-radius: 16px;
    border: 0;
    background-color: #4FFF00;
    color: #000000;
    font-size: 18px;
    font-family: montserrat;
    font-weight: 700;
    margin-top: 40px;
}

.form_btn:hover{

    color: #4FFF00;
    background-color: #000000;
    transition-duration:0.3s;
}


/* -------------Third Page Styles---------------- */


.third_page{
    padding: 0 80px 0px 80px;
}



.third_page_header_1{
    text-align: center;
    font-size: 72px;

}

.third_container{
    /* background-color:blue;
    border: 11px solid rgb(2, 17, 3); */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin:80px 0;
}

.box1{
    /* flex: 0 0 305px; */
    margin-bottom: 40px;
    height: 370px;
    width: 305px;
    /* height: 370px; */
    background-color: #fafafa;
    border-radius: 16px;
    box-shadow: 6px 6px 16px 0px rgba(0,0,0,0.62);
    text-align: center;
    font-weight: medium;

}
.box2{
    /* flex: 0 0 305px; */
    margin-bottom: 40px;
    height: 370px;
    width: 305px;
    /* height: 370px; */
    background-color: #fafafa;
    border-radius: 16px;
    box-shadow: 6px 6px 16px 0px rgba(0,0,0,0.62);
    text-align: center;

}
.box3{
    /* flex: 0 0 305px ; */
    margin-bottom: 40px;
    height: 370px;
    width: 305px;
    /* height: 370px; */
    background-color:#fafafa;
    border-radius: 16px;
    box-shadow: 6px 6px 16px 0px rgba(0,0,0,0.62);
    text-align: center;
    
    
}



.box_header{
    font-size: 36px;
    font-weight: 500;
}

.box_image{
    height: 129px;
    width: 119px;
}

.box_text{
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    padding: 0 12px;

}



/* ------------Fourth page styles--------------- */


.fourth_page{
    background-color: #000000;
    padding: 34px 80px 34px 80px;
}

.fourth_page_header_1{

    font-size: 72px;
    font-weight: 700px;
    color: white;
    text-align: center;
    
}

.fourth_page_text_1{
    color: white;
    font-weight: 500;
    text-align: center;
    font-size: 24px;
}

.price_table{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

table{

    border-collapse: collapse;
    background-color: white;
    border: none;
    margin: 40px 0;

  
}



table th{


    background-color:#4FFF00 ;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 36px;
    font-weight: 700;
    padding: 0;
    
}

table td{
    /* background-color:rgba(79, 255, 0, 0.25) ; */
    color:#000000;
    font-size: 20px;
    font-weight: 500;
    width: 300px;
    text-align: center; 
    padding: 4px;
    border: none;
}

.data_row{
    border-top:8px solid white ;
    background-color:rgba(79, 255, 0, 0.25) ;

    
}

.table_footer{
    background-color:rgba(2,48,32,1);
    border-top:8px solid white ;
}

.table_footer > td{
    color: white;
    font-size: 36px;
    font-weight: 700;
}

.fourth_page_footer{
    color:white;
    font-size: 18px;
    text-align: center;
    font-weight: 500; 
}



/* ----------------Contact Us Styles------------------ */

.contact_page{
    background-color: #000000;
    padding: 34px 80px;
}

.contact_page_header_1{
    color: white;
    font-size: 72px;
    font-weight: 700px;
    text-align: center;
}

.contact_info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact_image{
    width: 197px;
    height: 197px;
    background-image: url(/assets/contact\ image.png);
    border-radius: 16px;
    box-shadow: 0px 0px 29px 0px rgba(250,250,250,0.61);
}

.links_header{
    font-size: 24px;
    text-decoration: underline;
    color: white;
}

.social_links{
    color: white;

}



.social_links a{
    font-size: 18px;
    margin-left: 10px;
    color: white;
    text-decoration: none;
    border:2px solid black ;
}

.social_links a:hover{
    border-bottom: 2px solid #4FFF00;
    transition: 0.3s;
}

.address a{
    font-size: 18px;
    margin-left: 8px;
    color: white;
    text-decoration: none;
}


.contact_no{
    color: white;
}

.contact_no a{
    font-size: 18px;
    margin-left: 8px;
    color: white;
    text-decoration: none;

}

.site_links{
    flex-wrap: wrap;
    padding: 80px 0;
    color: white;
    display: flex;
    justify-content: space-between;
}

.site_links_header{
    font-size: 18px;
    font-weight: 600;
}

.site_links li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    border: 2px solid black;
    
}

.site_links li a:hover{
    border-bottom: 2px solid #4FFF00;
    transition: 0.3s;
}

footer{
    color: white;
    text-align: center;
    background-color: black;
    font-size: 12px;
    padding: 10px 0 ;
}

/* BREAKPOINTS */

@media (max-width: 1120px){
    .second_page{
        padding: 0 60px;
    }

    .first_image{
        height: 325px;
        width: 325px;
    }

    .second_image{
        height: 305px;
        width: 305px;
    }

    .fourth_page{
        padding: 24px 60px;
    }

    .contact_page{
        padding: 24px 60px ;
    }
}




@media (max-width: 1003px){
    /* nav{
        padding: 34px 50px;
    } */

    .main_section{
        padding: 0 70px 34px 70px;
    }

    .home_header_1 > p{
        font-size: 60px;
    }

    .home_header_1{
        margin-top: 145px;
    }

    .home_header_2>p{
        font-size: 14px;
    }

    .second_page_header_1{
        font-size: 60px;
        justify-content: center;
        padding-bottom: 50px;
    }

    .contain{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    /* .second_page{
        display:flex;
        flex-direction: column;
        align-items: center;
    } */

    .double_image{
        justify-content: center;
    
    }

    .fourth_page_header_1{
        font-size: 60px;
    }
    
    .fourth_page_text_1{
        font-size: 20px;
    }

    .fourth_page_footer{
        font-size: 20px;
    }

    .contact_page_header_1{
        font-size: 60px;
    }

    /* .login_form{
        position: relative;
        transform: translateX(50%);
    } */
}


@media (max-width: 945px){
    .icons{
        display: inline-flex;
        right: 0px;
    }

    #check:checked~ .icons > #menu_icon {
        display: none;
    }
    

    #check:checked~ .icons > #close_icon{
        display: block;
    }


    .icons #close_icon{
        display: none;
    }
    
    .nav_links{
        position:absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0,0,0,0.9);
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
        border: 0px solid rgba(0,0,0,0.275);
        overflow: hidden;
        transition: .3s ease;

    }
     

    .login_btn{
        /* position: absolute; */
        
        top:0;
        left: 0;
    }

    .nav_links li{
        display: block;
        margin: 20px 0;
        text-align: center;

    }


    #check:checked ~ .nav_links {
        height: 310px; /* or any other color you prefer */
      }

    .nav_links > a {
        display: block;
        font-size: 1.5em;
        margin: 1.5rem 0;
        text-align: center;
    }


    table th{
        font-size: 24px;
    }

    .data_row td{
        font-size: 14px;
    }

    .table_footer td{
        font-size: 24px;
    }

    .contact_image{
        width: 187px;
        height: 187px;
    }

    .links_header{
        font-size: 20px;
    }

    .social_links a{
        font-size: 14px;
    }

    .address a{
        font-size: 14px;
    }
    
    .contact_no a{
        font-size: 14px;

    }

    .site_links li a{
        font-size: 14px;
    }
}


@media (max-width: 605px){

    .main_section{
        padding: 0 50px 14px 50px;
    }

    .home_header_1{
        margin-top: 125px;
    }

    .home_header_1 > p{
        font-size: 48px;
    }

    .second_page{
        padding: 0 40px;
    }

    .first_image{
        height: 165px;
        width: 165px;
    }

    .second_image{
        height: 145px;
        width: 145px;
        transform: translate(85px,85px);
    }

    .login_form{
        /* min-width: 300px; */
        height: 400px;
        width: 250px;
        /* margin-right: 60px; */

    } 
    .double_image{
        /* width: 290px; */
        width: 227px;
        flex-basis: 300px;
    }

    .contain{
        padding:20px ;
    }

    .login_form{
        padding:10px;
    }

    form{
        width: 220px;
        height: 403px;
    }

    .form_header{
        font-size: 32px;
        margin: 10px;
        margin-bottom: 10px;
    }

    form > label{
        font-size: 14px;
    }


    form > input{
        width: 220px;
        margin: 12px 0;
        height: 46px;

    }

    input::placeholder{
        font-size: 12px;
    }

    .form_btn{
        width: 220px;
        margin-top: 30px;
        height: 46px;
    }

    .form_footer{
        padding-top: 10px;
    }
    .form_footer_text{
        font-size: 12px;

    }

    .third_page{
        padding: 0 40px ;
    }

    .third_page_header_1{
        font-size: 48px;
    }


    .box_header{
        font-size: 24px;
        margin:12px 0;
    }

    .box_text{
        font-size: 12px;
    }
    
    .box1{
        height: 265px;
        width: 250px;
    }
    .box2{
        height: 265px;
        width: 250px;
    }
    .box3{
        height: 265px;
        width: 250px;

    }

    .box_image{
        height: 109px;
        width: 99px;
    }
    
    .fourth_page{
        padding: 14px 40px;
    }

    .fourth_page_header_1{
        font-size: 48px;
    }

    .fourth_page_text_1{
        font-size: 18px;
    }

    table th{
        font-size: 20px;
    }


    .data_row td{
        font-size: 12px;
    }

    .table_footer td{
        font-size: 20px;
    }

    .fourth_page_footer{
        font-size: 14px;
    }

    .contact_page{
        padding: 14px 40px;
    }

    .contact_page_header_1{
        font-size: 48px;
    }

    .contact_image{
        width: 165px;
        height: 165px;
    }
}







