body{
    background-color: #000000;
}

.home_header_1{
    color: white;
    font-weight: 700;
    font-size: 72px;
    max-width: 1040px;
    margin: 0 80px;
}

.home_header_1 >p{
    margin: 0;
    
}

.home_header_1_yellow{
    color: #4FFF00;
}

.home_header_2{
    margin: 0 80px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    padding-top: 40px;
}

.home_header_2 >p{
    margin: 0;
}

.start_btn{
    margin:80px;
    color: #000000;
    font-family: montserrat;;
    height: 57px;
    width: 180px;
    border: none;
    border-radius: 40px;
    background-color: #4FFF00;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow:0px 0px 55px 0px rgba(81,255,0,0.58);
    -moz-box-shadow: 0px 0px 55px 0px rgba(81,255,0,0.58);
    box-shadow: 0px 0px 55px 0px rgba(81,255,0,0.58);


}

#st_btn{
    font-size: 24px;

}


@media(max-width:825px){
    .home_header_1{
        margin: 0 60px;
        font-size: 60px;
    }
    .home_header_2{
        margin: 0 60px;
    }
}